certifi==2022.6.15
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
dataclasses==0.8
Flask==2.0.3
idna==3.3
imageio==2.15.0
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
Nuitka==0.9.4
numpy==1.19.5
orderedset==2.0.3
Pillow==8.4.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
requests==2.27.1
typing-extensions==4.1.1
urllib3==1.26.10
Werkzeug==2.0.3
zipp==3.6.0
